@import url('reset.css');

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 900;
    src: url(../fonts/Roboto_Condensed-Black.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 700;
    src: url(../fonts/Roboto_Condensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 500;
    src: url(../fonts/Roboto_SemiCondensed-Medium.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Condensed";
    font-weight: 400;
    src: url(../fonts/Roboto_Condensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-display: swap;
}

/* Global */
html,
body {
    height: 100%;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: #FFFFFF;
    color: #757575;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    text-align: center;
}

/* Header */
.header {
    padding: 24px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav, .header-nav-contacts {
    display: flex;
    column-gap: 50px;
}

.header-nav {
    margin-left: 93px;
    
}

.header-nav-contacts {
    margin: 0 auto;
    gap: 50px;
}

.nav-link, .nav-link-contacts {
    padding: 8px 0;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
}

.nav-link:hover, .nav-link-contacts:hover {
    color: #2196F3;
}

.nav-link-contacts:last-child {
    color: #757575;
}

.header-logo img {
    width: 145px;
    height: 31px;
}

/* main */
.hero-section {
    background-color: #2F303A;
}

.hero-container {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    max-width: 696px;
    line-height: 60px;
}

.hero-button {
   margin-top: 30px; 
   max-width: 200px;
   max-height: 50px;
   padding: 10px 46px;
   font-weight: 700;
   line-height: 30px;
   font-size: 16px;
   color: #FFFFFF;
   background-color: #2196F3;
   border-radius: 4px;
   border: none;
   cursor: pointer;
}

.why-us-container {
    margin-top: 94px;
    display: flex;
    gap: 30px;
    flex: 1 1 25%;
}

.why-us-items {
    max-width: 270px;
}

.why-us-items-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
}

.why-us-items-text {
    margin-top: 10px;
    line-height: 24px;
}

.what-are-we-doing-container {
    margin-top: 94px;
}

.what-are-we-doing-inner {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex: 1 1 33%;
}

.what-are-we-doing-image-container {
    object-fit: cover;
}

.what-are-we-doing-image-container img {
   width: 370px;
   height: 294px; 
}

.our-team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}

.our-team-container {
    margin-top: 94px;
}

.our-team-title {
    padding: 94px 0 0;;
}

.our-team-items {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.our-team-item-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #212121;
}

.our-team-item-job {
    font-weight: 16;
    text-align: center;
    margin-top: 10px;
}
.our-team-item {
    object-fit: cover;
    flex: 1 1 25%;
}

.our-team-item img {
    width: 270px;
    height: 260px;
}

/* footer */
.footer {
    background-color: #2F303A;
    padding: 60px 0;
    margin-top: auto;
}

.footer-image {
    display: block;
    width: 161px;
}

.footer-image img {
    width: 161px;
    height: 31px;
}

.footer-links {
   margin-top: 20px;
}

.footer-links-item {
color: #FFFFFF;
margin-top: 9px;
}

.footer-links-link {
    text-decoration: none;
    color: #FFFFFF99;
}

